/.editorconfig
/.env
/.env.example
/.env.production.example
/.git
/.gitattributes
/.gitignore
/.htaccess
/node_modules
/vendor
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep
nul
package-lock.json
composer.lock
phpunit.xml
README.md
.dockerignore
Dockerfile
